  
<style>
  body {
      position:initial;
      margin:0;
      text-align: justify;
      border-collapse: collapse;
   }
   p{
       font-size:12;
       font-family: 'Times New Roman';
       width: auto;
       max-width:auto;
       word-break: break-all;
   }
   table{
      font-size:12;
       font-family: 'Times New Roman';
       width: auto;
       max-width:auto;
       word-break: break-all;
   }
   h2{
     font-size: 12;
     font-family: 'Times New Roman';
       width: auto;
       max-width:auto;
       word-break: break-all;
       
   }
   th{
    font-size: 12;
     font-family: 'Times New Roman';
   }
   td{
    font-size: 12;
     font-family: 'Times New Roman';
   }
</style>
      <div class="container" id="htmlData">
       <!-- <img src="/src/rosario.png" alt="Clinica el rosario"> -->
        <h2>
          <p style="text-align:center;">
                  <b>Clinica el rosario</b><br>Informe medico</p>
          </h2>
          <div class="col-md-12">
            <table>
              <tr>
                <th><h2>Medico:</h2></th>
                <td [width]="500"><h2>Jaime Gomez</h2> </td>
                <th><h2>Fecha:</h2></th>
                <td [width]="500"><h2>10/02/2020</h2></td>
              </tr>
              <tr>
                <th [width]="500"><h2>Paciente:</h2></th>
                <td [width]="500"><h2>Anibal Suarez</h2></td>
                <th [width]="500"><h2>Historia:</h2></th>
                <td [width]="500"><h2>2561876516</h2></td>
              </tr>
              <tr>
                <th><h2>Edad:</h2></th>
                <td [width]="500"><h2>55</h2></td>
                <th><h2>Tipo de estudio:</h2></th>
                <td [width]="500"><h2>Colonoscopia</h2></td>
              </tr>
            </table>
          </div>

          <br>
          <div class="col-md-12">
            <h2>Resultado de estudios</h2>
            <br>
            <table>
              <td [width]="520" [height]="365">
                <div class="text-center">
                  <img src="../app/rosario.png" class="rounded" alt="...">
                </div>
              </td>
              <td [width]="520" [height]="365">
                <div class="text-center">
                  <img src="rosario.png" class="rounded" alt="...">
                </div>
              </td>
              <td [width]="520" [height]="365">
                <div class="text-center">
                  <img src="rosario.png" class="rounded" alt="...">
                </div>
              </td>
            </table>
          </div>
          <br>
          <div>
            <h1>
              <p><b>Descripcion:</b></p>
            </h1>     
            <h2>
              <p>ESOFAGO:
                <br>
                Luz conservada, peristaltismo positivo, paredes que se distienden fácilmente, mucosa sana en su tercio proximal, medio y distal. Cardias a los 35cm, pinza diafragmática a los 37cm. No se aprecia hernia hiatal.
                <br>
                ESTOMAGO:
                <br>
                Vacío en ayunas. Paredes flexibles, pliegues de aspecto y características normales, mucosa fundica y corporal normal, mucosa antral hiperemica con inflamatorio fino, sin ulceras, ni tumores. Se toman biopsias de antro.
                
                En retro visión cardias normal. Píloro centrado.
                <br>
                DUODENO:
                <br>
                Bulbo duodenal mucosa sana. Segunda porción normal. Papila normal.
                <br>
                DIAGNOSTICO:</p>
            </h2>
            <br>
          </div>
  </div>
  <div class="container">
    <button  type="button" class="btn btn-success" (click)="downloadPDF()">Download PDF</button>
    </div>
<router-outlet></router-outlet>
